<div>
  <button class="gameRoomButton" ng-click="logout()">Log out</button></br>
  <button type="submit" class="gameRoomButton" ng-click="goToHomePage()">Home Page</button>
</div>
<div class="gameRoomBox">
  <div ng-controller="gameRoomController" class="leftCol column">
    <h3 class="gameRoomTitle">{{ teamOneName }}</h3>
    <ul>
      <li ng-repeat="nameOne in teamOne track by $index">{{ nameOne }}</li>
    </ul>
  </div>
  <div class="middleCol column">
    <h3 class="gameRoomTitle">Game</h3>
  </div>
  <div class="rightCol column">
    <h3 class="gameRoomTitle">{{ teamTwoName }}</h3>
    <ul>
      <li ng-repeat="nameTwo in teamTwo track by $index">{{ nameTwo }}</li>
    </ul>
  </div>
</div>
<div class="gameRoomImageContainer">
  <img src="../../images/tugOfWarCartoon.jpeg" class="gameRoomPic">
</div>
