<div>
  <button class="gameRoomButton" ng-click="logout()">Log out</button></br>
  <button type="submit" class="gameRoomButton" ng-click="goToHomePage()">Home Page</button>
</div>
<div class="gameRoomBox">
  <div ng-controller="gameRoomController" class="leftCol column">
    <h3 class="gameRoomTitle">{{ teamOneName }}</h3>
    <ul>
      <li ng-repeat="nameOne in teamOne track by $index">{{ nameOne }}</li>
    </ul>
  </div>
  <div class="middleCol column">
    <h3 class="gameRoomTitle">{{ game }}</h3></br>
      <h3 class="questionTitle">Question 1</h3></br>
      <p>{{ question }}</p></br>
    <div ng-hide="creator" class="ng-show">
      <input type="text" class="gameRoomAnswerInput" ng-model="answer" placeholder="Answer Here">
      <button type="submit" class="gameRoomSubmitButton" ng-click="submitAnswer(answer)">Submit</button>
    </div>
    <div ng-show="creator" class="ng-hide">
      <button type="submit" class="gameRoomSubmitButton" ng-click="nextQuestion()">Next Question</button></br>
      <button type="submit" class="gameRoomSubmitButton" ng-click="seeAnswer()">See Answer</button>
      <p>{{ answer }}</p>
    </div>
  </div>
  <div class="rightCol column">
    <h3 class="gameRoomTitle">{{ teamTwoName }}</h3>
    <ul>
      <li ng-repeat="nameTwo in teamTwo track by $index">{{ nameTwo }}</li>
    </ul>
  </div>
</div>
<div class="gameRoomImageContainer">
  <img src="../../images/tugOfWarCartoon.jpeg" class="gameRoomPic">
</div>
