<div ng-controller="loginController" class="loginContainer">
  <form class="innerContainer">
    <div class="headerDiv">
      <p class="title">Welcome To Quiz Wars!</p></br>
      Email: <input type="email" ng-model="email" placeholder="JohnDoe123@email.com" class="emailInput" required></br>
      Password: <input type="password" ng-model="password" placeholder="password" required>
    <div>
    <!-- <div class="radioBox">
      <input type="radio" ng-model="access" value="student" checked> Student
      <input type="radio" ng-model="access" value="teacher"> Teacher<br>
    </div> -->
    <button class="loginButton moveButtonRight" type="submit" ng-click="loginAttempt(email, password)">Log In</button>
    <button class="loginButton" type="submit" ng-click="signupAttempt(email, password)">Sign Up</button>
  </form>
</div>
