<div ng-controller="loginController" class="loginBox">
  <form>
    <div class="loginInput">
      <input type="text" ng-model="email" placeholder="email" class="loginInput" required>
      <input type="text" ng-model="password" placeholder="password" class="loginInput" required>
    <div>
    <input type="radio" ng-model="access" value="student" checked>Student<br>
    <input type="radio" ng-model="access" value="teacher">Teacher<br>
    <button type="submit" ng-click="loginAttempt(email, password, access)">Log In</button>
    <button type="submit" ng-click="signupAttempt(email, password, access)">Sign Up</button>
  </form>
</div>
