<div ng-controller="profileController" class="profileBox">
  <div>
    <div>
      <p>Welcome to your profile {{ name || "Friend"}}!</p>
    </div>
    <div>
      <input type="text" class="newName" ng-model="newName" placeholder="New Name">
      <button type="submit" ng-click="changeName(newName)">Change Name</button>
    </div>
    <div>
      <button type="" ng-click="goToHomePage()">Go To Home Page</button>
      <button type="" ng-click="logout()">Log Out</button>
    </div>
  </div>
</div>