@keyframes mainBackgroundGradient {
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}

.loginBox {
  background: linear-gradient(270deg, #ff0000, #ffffff);
  background-size: 400%;
  animation-name: mainBackgroundGradient;
  animation-duration: 7s ease infinite;
  margin: auto;
  padding: 5px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginDiv {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.loginInput {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.radioBox {
  padding: 5px;
  margin: 5px;
}

input {
  margin: 5px;
}

.homeBox {
  background: gray;
  font-size: 24px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  float: left;
  border-width: 2px;
  border-style: solid;
}

.leftCol {
  text-align: center;
  width: 30%;
  float: left;
}

.middleCol {
  text-align: center;
  width: 40%;
  float: left;
}

.rightCol {
  text-align: center;
  width: 30%;
  float: left;
}

li {
  text-align: left;
}
