@-webkit-keyframes gradientChange {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes gradientChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes gradientChange { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

button {
  width: 25%;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}

input {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

li {
  text-align: center;
}

.loginContainer {
  color: white;
  background: linear-gradient(270deg, #29c733, #000000);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 40px;
}

.headerDiv {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.emailInput {
  margin-left: 29px;
}

.loginButton {
  background: linear-gradient(270deg, black, green);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.moveButtonRight {
  margin-left: 70px;
}

.homeBox {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  
  background: linear-gradient(270deg, #1d33cd, #000000);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.homeTitle {
  font-size: 40px;
}

.homeButton {
  font-size: 18px;
  color: white;
  border-radius: 5px;
  width: 33%;
  margin: 5px;

  background: linear-gradient(270deg, #000000, #1d33cd);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.homeInput {
  width: 40%;
}

.longButton {
  width: 79%;
  margin: 10px 0;
  margin-right: 0px
}

.homeJoinButton {
  margin-right: 0;
}

.homeInput {
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}

.gameRoomBox {
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90vw;
  float: left;
  border: .5vw solid black;
  color: white;

  background: linear-gradient(270deg, gray, red);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.gameRoomTitle {
  border-bottom: .5vw solid black;
  background-color:;
}

.leftCol {
  text-align: center;
  width: 29vw;
  float: left;
}

.middleCol {
  text-align: center;
  width: 31vw;
  height: 50vh;
  float: left;
  border-left: .54vw solid black;
  border-right: .54vw solid black;
}

.rightCol {
  text-align: center;
  width: 29vw;
  float: left;
}

.gameRoomPic {
  margin-left: 64vh;
  
}

.profileContainer {  
  color: white;
  background: linear-gradient(270deg, purple, black);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.profileButton {
  width: 50%;
  margin: 5px;
  background: linear-gradient(270deg, black, purple);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.newGameBox {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  
  background: linear-gradient(270deg, red, #000000);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.newGameInput {
  width: 75%;
}

.newGameButton {
  width: 80%;
  margin: 5px;
  color: white;
  text-align: center;
  
  background: linear-gradient(270deg, #000000, red);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}