@-webkit-keyframes gradientChange {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes gradientChange {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes gradientChange { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.loginBox {
  color: white;
  background: linear-gradient(270deg, #29c733, #000000);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginTitle {
  font-size: 40px;
}

.loginDiv {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.loginInput {
  width: 50%;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.emailInput {
  margin-left: 29px;
}

.loginButton {
  width: 25%;
  font-size: 20px;
  border-radius: 10px;
  color: white;

  background: linear-gradient(270deg, black, green);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.login {
  margin-left: 70px;
}

.homeBox {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  
  background: linear-gradient(270deg, #1d33cd, #000000);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.homeTitle {
  font-size: 40px;
}

.homeButton {
  font-size: 18px;
  color: white;
  border-radius: 5px;
  width: 33%;
  margin: 5px;

  background: linear-gradient(270deg, #000000, #1d33cd);
  background-size: 400% 400%;

  -webkit-animation: gradientChange 10s ease infinite;
  -moz-animation: gradientChange 10s ease infinite;
  animation: gradientChange 10s ease infinite;
}

.longButton {
  width: 80%;
  margin: 10px;
}

.homeJoinButton {
  margin-right: 0;
}

.homeInput {
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  float: left;
  border-width: 2px;
  border-style: solid;
}

.leftCol {
  text-align: center;
  width: 30%;
  float: left;
}

.middleCol {
  text-align: center;
  width: 40%;
  float: left;
}

.rightCol {
  text-align: center;
  width: 30%;
  float: left;
}

li {
  text-align: left;
}

.profileBox {  
  background: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
